
.vs/ZarichnyiViberBot/DesignTimeBuild/.dtbcache.v2
.vs/ZarichnyiViberBot/v16/.suo
ViberBotHelper/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ViberBotHelper/obj/Debug/netcoreapp3.1/ViberBotHelper.AssemblyInfo.cs
ViberBotHelper/obj/Debug/netcoreapp3.1/ViberBotHelper.AssemblyInfoInputs.cache
ViberBotHelper/obj/Debug/netcoreapp3.1/ViberBotHelper.assets.cache
ViberBotHelper/obj/Debug/netcoreapp3.1/ViberBotHelper.csproj.AssemblyReference.cache
ViberBotHelper/obj/Debug/netcoreapp3.1/ViberBotHelper.GeneratedMSBuildEditorConfig.editorconfig
ViberBotHelper/obj/project.assets.json
ViberBotHelper/obj/project.nuget.cache
ViberBotHelper/obj/ViberBotHelper.csproj.nuget.dgspec.json
ViberBotHelper/obj/ViberBotHelper.csproj.nuget.g.props
ViberBotHelper/obj/ViberBotHelper.csproj.nuget.g.targets
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/appsettings.Development.json
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/appsettings.json
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.CommandLine.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.UserSecrets.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Systemd.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.WindowsServices.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Configuration.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Console.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Debug.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventLog.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventSource.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.ConfigurationExtensions.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Microsoft.Win32.Registry.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Refit.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Refit.Newtonsoft.Json.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.Diagnostics.EventLog.Messages.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.ServiceProcess.ServiceController.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.Diagnostics.EventLog.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/System.Diagnostics.EventLog.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/System.Net.Http.Json.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/System.Security.AccessControl.dll
ViberBotHelper/Class1.cs
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/System.Security.Principal.Windows.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/System.Text.Encodings.Web.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/System.ServiceProcess.ServiceController.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/System.Text.Json.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/Viber.Bot.NetCore.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/ZarichnyiViberBot.deps.json
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/ZarichnyiViberBot.dll
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/ZarichnyiViberBot.exe
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/ZarichnyiViberBot.pdb
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/ZarichnyiViberBot.runtimeconfig.dev.json
ZarichnyiViberBot/bin/Debug/netcoreapp3.1/ZarichnyiViberBot.runtimeconfig.json
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/apphost.exe
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/staticwebassets/ZarichnyiViberBot.StaticWebAssets.Manifest.cache
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/staticwebassets/ZarichnyiViberBot.StaticWebAssets.xml
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.AssemblyInfo.cs
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.AssemblyInfoInputs.cache
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.assets.cache
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.csproj.AssemblyReference.cache
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.csproj.CopyComplete
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.csproj.CoreCompileInputs.cache
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.csproj.FileListAbsolute.txt
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.dll
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.GeneratedMSBuildEditorConfig.editorconfig
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.genruntimeconfig.cache
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.MvcApplicationPartsAssemblyInfo.cache
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.pdb
ZarichnyiViberBot/ZarichnyiViberBot.csproj.user
ZarichnyiViberBot/obj/ZarichnyiViberBot.csproj.nuget.g.targets
ZarichnyiViberBot/obj/ZarichnyiViberBot.csproj.nuget.g.props
ZarichnyiViberBot/obj/ZarichnyiViberBot.csproj.nuget.dgspec.json
ZarichnyiViberBot/obj/project.nuget.cache
ZarichnyiViberBot/obj/project.assets.json
ZarichnyiViberBot/obj/Debug/netcoreapp3.1/ZarichnyiViberBot.RazorTargetAssemblyInfo.cache
ViberBotHelper/bin/Debug/netcoreapp3.1/ViberBotHelper.deps.json
ViberBotHelper/bin/Debug/netcoreapp3.1/ViberBotHelper.dll
ViberBotHelper/bin/Debug/netcoreapp3.1/ViberBotHelper.pdb
ViberBotHelper/obj/Debug/netcoreapp3.1/ViberBotHelper.csproj.CoreCompileInputs.cache
ViberBotHelper/obj/Debug/netcoreapp3.1/ViberBotHelper.csproj.FileListAbsolute.txt
ViberBotHelper/obj/Debug/netcoreapp3.1/ViberBotHelper.dll
ViberBotHelper/obj/Debug/netcoreapp3.1/ViberBotHelper.pdb
